/* css da página inicial */

.cabeça {
    background: #ff0000;
}

.imagemlogo {
    width: 12%;
    display: inline-block;
    vertical-align: top;
}

.titulo-principal {
    font-size: 25px;
    font-style: italic;
    padding-left: 18px;
}

.clic {
    text-align: center;
    color: black;
    font-size: 252%;
    font-style: initial;
}