/* css da página inicial */

.cabeça {
    background: red;
}

.imagemlogo {
    background: red;
    width: 12%;
    display: inline-block;
    vertical-align: top;
}

h1 {
    background: #ff0000;
    color: black;
    font-size: 35px;
    font-style: italic;
    width: 58%;
}

.clic {
    text-align: center;
    color: green;
    font-size: 252%;
    font-style: italic;
    font-style:
}